p{
    background-color: rgb(40, 40, 97) ;
}

a{
    background-color: rgba(152, 81, 19, 0.734);
}

div{
    background-color: yellow;
}

span{
    background-color: rgb(115, 89, 139);
}